In [33]:
import pandas as pd
import pyspark

In [34]:
p1=pd.read_csv('project_data.csv')
print(type(p1))

<class 'pandas.core.frame.DataFrame'>

In [35]:

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('sqlonspark').getOrCreate()  #sparksession is a function we import from spark has builder app name , if the session exist it will run or new session will

In [36]:
spark

In [37]:
f1=spark.read.csv('project_data.csv')

In [38]:
f1

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string]

In [39]:
f1.show()

+-----------+--------------+-----------------+--------------+-------------+-------------+-------+----------------+---------------+----------+-----+---------+
|        _c0|           _c1|              _c2|           _c3|          _c4|          _c5|    _c6|             _c7|            _c8|       _c9| _c10|     _c11|
+-----------+--------------+-----------------+--------------+-------------+-------------+-------+----------------+---------------+----------+-----+---------+
|customer_id|year_of_birth |educational_level|marital_status|annual_income|purhcase_date|recency|online_purchases|store_purchases|complaints|calls|intercoms|
|   20201701|          1982|       Graduation|        Single|        58138|     9/4/2012|     58|               8|              4|         0|    3|       11|
|   20201702|          1950|       Graduation|       Married|        46344|     3/8/2014|     38|               1|              2|         0|    3|       11|
|   20201703|          1965|       Graduation|      Divorced|        71613|    8/21/2013|     26|               8|             10|         0|    3|       11|
|   20201704|          1984|       Graduation|  Relationship|        26646|    2/10/2014|     26|               2|              4|         0|    3|       11|
|   20201705|          1981|              PhD|       Widowed|        58293|    1/19/2014|     94|               5|              6|         0|    3|       11|
|   20201706|          1967|           Master|  Relationship|        62000|     9/9/2013|     16|               6|             10|         5|    3|       11|
|   20201707|          1971|       Graduation|      Divorced|        55635|   11/13/2012|     34|               7|              7|         0|    3|       11|
|   20201708|          1985|              PhD|       Married|        33454|     5/8/2013|     32|               4|              4|         0|    3|       11|
|   20201709|          1974|              PhD|       Widowed|        30351|     6/6/2013|     19|               3|              2|         3|    3|       11|
|   20201710|          1950|              PhD|        Single|         5648|    3/13/2014|     68|               1|              0|         5|    3|       11|
|   20201711|          1983|       Graduation|        Single|         null|   11/15/2013|     11|               1|              2|         0|    3|       11|
|   20201712|          1976|            Basic|  Relationship|         7500|   11/13/2012|     59|               2|              3|         6|    3|       11|
|   20201713|          1959|       Graduation|      Divorced|        63033|   11/15/2013|     82|               3|              8|         0|    3|       11|
|   20201714|          1952|           Master|        Single|        59354|   11/15/2013|     53|               6|              5|         0|    3|       11|
|   20201715|          1987|       Graduation|       Married|        17323|   10/10/2012|     38|               1|              3|         0|    3|       11|
|   20201716|          1960|              PhD|  Relationship|        82800|   11/24/2012|     23|               7|             12|         0|    3|       11|
|   20201717|          2000|       Graduation|       Married|        41850|   12/24/2012|     51|               3|              3|         7|    3|       11|
|   20201718|          1970|       Graduation|  Relationship|        37760|    8/31/2012|     20|               4|              6|         0|    3|       11|
|   20201719|          1980|           Master|        Single|        76995|    3/28/2013|     91|              11|              9|         4|    3|       11|
+-----------+--------------+-----------------+--------------+-------------+-------------+-------+----------------+---------------+----------+-----+---------+

In [40]:
f1=spark.read.option('header','true').csv('project_data.csv') #read file with option
f1.show()

+-----------+--------------+-----------------+--------------+-------------+-------------+-------+----------------+---------------+----------+-----+---------+
|customer_id|year_of_birth |educational_level|marital_status|annual_income|purhcase_date|recency|online_purchases|store_purchases|complaints|calls|intercoms|
+-----------+--------------+-----------------+--------------+-------------+-------------+-------+----------------+---------------+----------+-----+---------+
|   20201701|          1982|       Graduation|        Single|        58138|     9/4/2012|     58|               8|              4|         0|    3|       11|
|   20201702|          1950|       Graduation|       Married|        46344|     3/8/2014|     38|               1|              2|         0|    3|       11|
|   20201703|          1965|       Graduation|      Divorced|        71613|    8/21/2013|     26|               8|             10|         0|    3|       11|
|   20201704|          1984|       Graduation|  Relationship|        26646|    2/10/2014|     26|               2|              4|         0|    3|       11|
|   20201705|          1981|              PhD|       Widowed|        58293|    1/19/2014|     94|               5|              6|         0|    3|       11|
|   20201706|          1967|           Master|  Relationship|        62000|     9/9/2013|     16|               6|             10|         5|    3|       11|
|   20201707|          1971|       Graduation|      Divorced|        55635|   11/13/2012|     34|               7|              7|         0|    3|       11|
|   20201708|          1985|              PhD|       Married|        33454|     5/8/2013|     32|               4|              4|         0|    3|       11|
|   20201709|          1974|              PhD|       Widowed|        30351|     6/6/2013|     19|               3|              2|         3|    3|       11|
|   20201710|          1950|              PhD|        Single|         5648|    3/13/2014|     68|               1|              0|         5|    3|       11|
|   20201711|          1983|       Graduation|        Single|         null|   11/15/2013|     11|               1|              2|         0|    3|       11|
|   20201712|          1976|            Basic|  Relationship|         7500|   11/13/2012|     59|               2|              3|         6|    3|       11|
|   20201713|          1959|       Graduation|      Divorced|        63033|   11/15/2013|     82|               3|              8|         0|    3|       11|
|   20201714|          1952|           Master|        Single|        59354|   11/15/2013|     53|               6|              5|         0|    3|       11|
|   20201715|          1987|       Graduation|       Married|        17323|   10/10/2012|     38|               1|              3|         0|    3|       11|
|   20201716|          1960|              PhD|  Relationship|        82800|   11/24/2012|     23|               7|             12|         0|    3|       11|
|   20201717|          2000|       Graduation|       Married|        41850|   12/24/2012|     51|               3|              3|         7|    3|       11|
|   20201718|          1970|       Graduation|  Relationship|        37760|    8/31/2012|     20|               4|              6|         0|    3|       11|
|   20201719|          1980|           Master|        Single|        76995|    3/28/2013|     91|              11|              9|         4|    3|       11|
|   20201720|          1998|      High School|       Married|        33812|    11/3/2012|     86|               2|              3|         0|    3|       11|
+-----------+--------------+-----------------+--------------+-------------+-------------+-------+----------------+---------------+----------+-----+---------+

In [41]:
f1=f1.withColumn("annual_income",f1.annual_income.cast("float"))

In [42]:
print(type(f1))

<class 'pyspark.sql.dataframe.DataFrame'>

In [43]:
f1.head(5)

[Row(customer_id='20201701', year_of_birth ='1982', educational_level='Graduation', marital_status='Single', annual_income=58138.0, purhcase_date='9/4/2012', recency='58', online_purchases='8', store_purchases='4', complaints='0', calls='3', intercoms='11'),
 Row(customer_id='20201702', year_of_birth ='1950', educational_level='Graduation', marital_status='Married', annual_income=46344.0, purhcase_date='3/8/2014', recency='38', online_purchases='1', store_purchases='2', complaints='0', calls='3', intercoms='11'),
 Row(customer_id='20201703', year_of_birth ='1965', educational_level='Graduation', marital_status='Divorced', annual_income=71613.0, purhcase_date='8/21/2013', recency='26', online_purchases='8', store_purchases='10', complaints='0', calls='3', intercoms='11'),
 Row(customer_id='20201704', year_of_birth ='1984', educational_level='Graduation', marital_status='Relationship', annual_income=26646.0, purhcase_date='2/10/2014', recency='26', online_purchases='2', store_purchases='4', complaints='0', calls='3', intercoms='11'),
 Row(customer_id='20201705', year_of_birth ='1981', educational_level='PhD', marital_status='Widowed', annual_income=58293.0, purhcase_date='1/19/2014', recency='94', online_purchases='5', store_purchases='6', complaints='0', calls='3', intercoms='11')]

In [44]:
f1.createOrReplaceTempView("f2")

In [45]:
spark.sql("select * from f2").show()

+-----------+--------------+-----------------+--------------+-------------+-------------+-------+----------------+---------------+----------+-----+---------+
|customer_id|year_of_birth |educational_level|marital_status|annual_income|purhcase_date|recency|online_purchases|store_purchases|complaints|calls|intercoms|
+-----------+--------------+-----------------+--------------+-------------+-------------+-------+----------------+---------------+----------+-----+---------+
|   20201701|          1982|       Graduation|        Single|      58138.0|     9/4/2012|     58|               8|              4|         0|    3|       11|
|   20201702|          1950|       Graduation|       Married|      46344.0|     3/8/2014|     38|               1|              2|         0|    3|       11|
|   20201703|          1965|       Graduation|      Divorced|      71613.0|    8/21/2013|     26|               8|             10|         0|    3|       11|
|   20201704|          1984|       Graduation|  Relationship|      26646.0|    2/10/2014|     26|               2|              4|         0|    3|       11|
|   20201705|          1981|              PhD|       Widowed|      58293.0|    1/19/2014|     94|               5|              6|         0|    3|       11|
|   20201706|          1967|           Master|  Relationship|      62000.0|     9/9/2013|     16|               6|             10|         5|    3|       11|
|   20201707|          1971|       Graduation|      Divorced|      55635.0|   11/13/2012|     34|               7|              7|         0|    3|       11|
|   20201708|          1985|              PhD|       Married|      33454.0|     5/8/2013|     32|               4|              4|         0|    3|       11|
|   20201709|          1974|              PhD|       Widowed|      30351.0|     6/6/2013|     19|               3|              2|         3|    3|       11|
|   20201710|          1950|              PhD|        Single|       5648.0|    3/13/2014|     68|               1|              0|         5|    3|       11|
|   20201711|          1983|       Graduation|        Single|         null|   11/15/2013|     11|               1|              2|         0|    3|       11|
|   20201712|          1976|            Basic|  Relationship|       7500.0|   11/13/2012|     59|               2|              3|         6|    3|       11|
|   20201713|          1959|       Graduation|      Divorced|      63033.0|   11/15/2013|     82|               3|              8|         0|    3|       11|
|   20201714|          1952|           Master|        Single|      59354.0|   11/15/2013|     53|               6|              5|         0|    3|       11|
|   20201715|          1987|       Graduation|       Married|      17323.0|   10/10/2012|     38|               1|              3|         0|    3|       11|
|   20201716|          1960|              PhD|  Relationship|      82800.0|   11/24/2012|     23|               7|             12|         0|    3|       11|
|   20201717|          2000|       Graduation|       Married|      41850.0|   12/24/2012|     51|               3|              3|         7|    3|       11|
|   20201718|          1970|       Graduation|  Relationship|      37760.0|    8/31/2012|     20|               4|              6|         0|    3|       11|
|   20201719|          1980|           Master|        Single|      76995.0|    3/28/2013|     91|              11|              9|         4|    3|       11|
|   20201720|          1998|      High School|       Married|      33812.0|    11/3/2012|     86|               2|              3|         0|    3|       11|
+-----------+--------------+-----------------+--------------+-------------+-------------+-------+----------------+---------------+----------+-----+---------+

In [57]:
spark.sql("select educational_level from f2").show()

+-----------------+
|educational_level|
+-----------------+
|       Graduation|
|       Graduation|
|       Graduation|
|       Graduation|
|              PhD|
|           Master|
|       Graduation|
|              PhD|
|              PhD|
|              PhD|
|       Graduation|
|            Basic|
|       Graduation|
|           Master|
|       Graduation|
|              PhD|
|       Graduation|
|       Graduation|
|           Master|
|      High School|
+-----------------+

In [47]:
spark.sql("select count(customer_id) from f2").show()

+------------------+
|count(customer_id)|
+------------------+
|               499|
+------------------+

In [48]:
spark.sql("select educational_level,annual_income from f2 where marital_status='Single'").show()

+-----------------+-------------+
|educational_level|annual_income|
+-----------------+-------------+
|       Graduation|      58138.0|
|              PhD|       5648.0|
|       Graduation|         null|
|           Master|      59354.0|
|           Master|      76995.0|
|       Graduation|         null|
|       Graduation|      38360.0|
|           Master|      38620.0|
|           Master|      20559.0|
|       Graduation|      65486.0|
|           Master|      79143.0|
|       Graduation|      66373.0|
|           Master|      75777.0|
|       Graduation|      66653.0|
|           Master|      66991.0|
|      High School|         null|
|       Graduation|      28332.0|
|       Graduation|      40246.0|
|       Graduation|      81361.0|
|       Graduation|      29440.0|
+-----------------+-------------+

In [61]:
spark.sql("select online_purchases from f2 where annual_income>'50000'").show()

+----------------+
|online_purchases|
+----------------+
|               8|
|               8|
|               5|
|               6|
|               7|
|               3|
|               6|
|               7|
|              11|
|               2|
|               6|
|               5|
|               6|
|               3|
|               5|
|               8|
|               2|
|               5|
|               4|
|               6|
+----------------+

In [50]:
spark.sql("select annual_income from f2 where store_purchases>='5'").show()

+-------------+
|annual_income|
+-------------+
|      58293.0|
|      55635.0|
|      63033.0|
|      59354.0|
|      37760.0|
|      76995.0|
|      37040.0|
|      58607.0|
|      64500.0|
|      40689.0|
|      46610.0|
|      68657.0|
|      48948.0|
|      80011.0|
|      79941.0|
|      82582.0|
|      55954.0|
|      67680.0|
|      74854.0|
|      66991.0|
+-------------+

In [51]:
spark.sql("select max(annual_income) from f2").show()

+------------------+
|max(annual_income)|
+------------------+
|          157243.0|
+------------------+

In [52]:
spark.sql("SELECT COUNT(*) FROM f2 WHERE annual_income IS NULL").show()

+--------+
|count(1)|
+--------+
|      13|
+--------+

In [53]:
spark.sql("select min(annual_income) from f2").show()

+------------------+
|min(annual_income)|
+------------------+
|            2447.0|
+------------------+

In [59]:
spark.sql("select annual_income from f2 order by annual_income DESC").show()

+-------------+
|annual_income|
+-------------+
|     157243.0|
|     102692.0|
|     102160.0|
|     101970.0|
|      93027.0|
|      92910.0|
|      92859.0|
|      91065.0|
|      90765.0|
|      89572.0|
|      89058.0|
|      88194.0|
|      88193.0|
|      86718.0|
|      86164.0|
|      86111.0|
|      86037.0|
|      85693.0|
|      85503.0|
|      85317.0|
+-------------+

In [66]:
spark.sql("SELECT AVG(annual_income) AS avg_salary FROM f2").show()

+-----------------+
|       avg_salary|
+-----------------+
|51454.50411522634|
+-----------------+

In [62]:
spark.sql("SELECT educational_level, COUNT(*) AS count FROM f2 GROUP BY educational_level").show()

+-----------------+-----+
|educational_level|count|
+-----------------+-----+
|      High School|   40|
|              PhD|  114|
|           Master|   81|
|       Graduation|  257|
|            Basic|    7|
+-----------------+-----+

In [64]:
spark.sql("SELECT marital_status, COUNT(*) AS count FROM f2 GROUP BY marital_status").show()

+--------------+-----+
|marital_status|count|
+--------------+-----+
|  Relationship|  118|
|       Married|  125|
|         Widow|    7|
|      Divorced|   87|
|       Widowed|   54|
|        Single|  108|
+--------------+-----+

In [65]:
spark.sql("SELECT educational_level, marital_status, COUNT(*) AS count FROM f2 GROUP BY educational_level, marital_status").show()

+-----------------+--------------+-----+
|educational_level|marital_status|count|
+-----------------+--------------+-----+
|      High School|      Divorced|    3|
|      High School|         Widow|    1|
|              PhD|       Widowed|   19|
|              PhD|        Single|   19|
|           Master|       Married|   19|
|      High School|       Widowed|    2|
|              PhD|       Married|   24|
|            Basic|        Single|    1|
|       Graduation|       Widowed|   25|
|              PhD|      Divorced|   20|
|            Basic|      Divorced|    3|
|      High School|        Single|    6|
|           Master|       Widowed|    8|
|       Graduation|        Single|   61|
|           Master|  Relationship|   20|
|       Graduation|  Relationship|   51|
|              PhD|         Widow|    1|
|      High School|       Married|   15|
|       Graduation|      Divorced|   49|
|              PhD|  Relationship|   31|
+-----------------+--------------+-----+