In [3]:
pip install pyspark

Requirement already satisfied: pyspark in /home/ubuntu/PycharmProjects/16October/venv/lib/python3.10/site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /home/ubuntu/PycharmProjects/16October/venv/lib/python3.10/site-packages (from pyspark) (0.10.9.7)

[notice] A new release of pip available: 22.3.1 -> 23.3
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install pandas

Requirement already satisfied: pandas in /home/ubuntu/PycharmProjects/16October/venv/lib/python3.10/site-packages (2.1.1)
Requirement already satisfied: numpy>=1.22.4 in /home/ubuntu/PycharmProjects/16October/venv/lib/python3.10/site-packages (from pandas) (1.26.1)
Requirement already satisfied: tzdata>=2022.1 in /home/ubuntu/PycharmProjects/16October/venv/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in /home/ubuntu/PycharmProjects/16October/venv/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ubuntu/PycharmProjects/16October/venv/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/ubuntu/PycharmProjects/16October/venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.3
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import pyspark

In [10]:
p1=pd.read_csv('project_data.csv')
print(type(p1))

<class 'pandas.core.frame.DataFrame'>

In [18]:
print(p1.tail(10))

     customer_id  year_of_birth  educational_level marital_status  \
489     20202190            1952       High School          Widow
490     20202191            1958               PhD   Relationship
491     20202192            1976        Graduation       Divorced
492     20202193            1955        Graduation   Relationship
493     20202194            1964            Master         Single
494     20202195            1944               PhD       Divorced
495     20202196            1962            Master       Divorced
496     20202197            1978        Graduation       Divorced
497     20202198            1971               PhD   Relationship
498     20202199            1949               PhD   Relationship

     annual_income purhcase_date  recency  online_purchases  store_purchases  \
489        28457.0    10/28/2012       96                 4                4
490        70991.0     9/24/2012       11                 2               12
491        46310.0     12/3/2012       99                 6                5
492        23018.0     2/22/2013       72                 3               13
493        58308.0     1/12/2013       77                 2                3
494        55614.0    11/27/2013       85                 9                6
495        59432.0     4/13/2013       88                 5               11
496        55563.0      4/5/2014       22                 2                3
497        43624.0     4/21/2013       83                 4                4
498        41461.0     5/22/2014       63                 6               11

     complaints  calls  intercoms
489           0      3         11
490           0      5         11
491           0      3         11
492           0      3         11
493           0      3         11
494           0      3         11
495           0      3         11
496           0      3         11
497           0      6         11
498           0      6         11

In [11]:
from pyspark.sql import SparkSession

In [12]:
spark = SparkSession.builder.appName('sqlonspark').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/16 10:15:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [13]:
spark

In [14]:
f1=spark.read.csv('project_data.csv')

In [15]:
f1

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string]

In [17]:
f1.show(10)

+-----------+--------------+-----------------+--------------+-------------+-------------+-------+----------------+---------------+----------+-----+---------+
|        _c0|           _c1|              _c2|           _c3|          _c4|          _c5|    _c6|             _c7|            _c8|       _c9| _c10|     _c11|
+-----------+--------------+-----------------+--------------+-------------+-------------+-------+----------------+---------------+----------+-----+---------+
|customer_id|year_of_birth |educational_level|marital_status|annual_income|purhcase_date|recency|online_purchases|store_purchases|complaints|calls|intercoms|
|   20201701|          1982|       Graduation|        Single|        58138|     9/4/2012|     58|               8|              4|         0|    3|       11|
|   20201702|          1950|       Graduation|       Married|        46344|     3/8/2014|     38|               1|              2|         0|    3|       11|
|   20201703|          1965|       Graduation|      Divorced|        71613|    8/21/2013|     26|               8|             10|         0|    3|       11|
|   20201704|          1984|       Graduation|  Relationship|        26646|    2/10/2014|     26|               2|              4|         0|    3|       11|
|   20201705|          1981|              PhD|       Widowed|        58293|    1/19/2014|     94|               5|              6|         0|    3|       11|
|   20201706|          1967|           Master|  Relationship|        62000|     9/9/2013|     16|               6|             10|         5|    3|       11|
|   20201707|          1971|       Graduation|      Divorced|        55635|   11/13/2012|     34|               7|              7|         0|    3|       11|
|   20201708|          1985|              PhD|       Married|        33454|     5/8/2013|     32|               4|              4|         0|    3|       11|
|   20201709|          1974|              PhD|       Widowed|        30351|     6/6/2013|     19|               3|              2|         3|    3|       11|
+-----------+--------------+-----------------+--------------+-------------+-------------+-------+----------------+---------------+----------+-----+---------+

In [21]:
f2=spark.read.option('header','true').csv('project_data.csv')
f2.show()

+-----------+--------------+-----------------+--------------+-------------+-------------+-------+----------------+---------------+----------+-----+---------+
|customer_id|year_of_birth |educational_level|marital_status|annual_income|purhcase_date|recency|online_purchases|store_purchases|complaints|calls|intercoms|
+-----------+--------------+-----------------+--------------+-------------+-------------+-------+----------------+---------------+----------+-----+---------+
|   20201701|          1982|       Graduation|        Single|        58138|     9/4/2012|     58|               8|              4|         0|    3|       11|
|   20201702|          1950|       Graduation|       Married|        46344|     3/8/2014|     38|               1|              2|         0|    3|       11|
|   20201703|          1965|       Graduation|      Divorced|        71613|    8/21/2013|     26|               8|             10|         0|    3|       11|
|   20201704|          1984|       Graduation|  Relationship|        26646|    2/10/2014|     26|               2|              4|         0|    3|       11|
|   20201705|          1981|              PhD|       Widowed|        58293|    1/19/2014|     94|               5|              6|         0|    3|       11|
|   20201706|          1967|           Master|  Relationship|        62000|     9/9/2013|     16|               6|             10|         5|    3|       11|
|   20201707|          1971|       Graduation|      Divorced|        55635|   11/13/2012|     34|               7|              7|         0|    3|       11|
|   20201708|          1985|              PhD|       Married|        33454|     5/8/2013|     32|               4|              4|         0|    3|       11|
|   20201709|          1974|              PhD|       Widowed|        30351|     6/6/2013|     19|               3|              2|         3|    3|       11|
|   20201710|          1950|              PhD|        Single|         5648|    3/13/2014|     68|               1|              0|         5|    3|       11|
|   20201711|          1983|       Graduation|        Single|         NULL|   11/15/2013|     11|               1|              2|         0|    3|       11|
|   20201712|          1976|            Basic|  Relationship|         7500|   11/13/2012|     59|               2|              3|         6|    3|       11|
|   20201713|          1959|       Graduation|      Divorced|        63033|   11/15/2013|     82|               3|              8|         0|    3|       11|
|   20201714|          1952|           Master|        Single|        59354|   11/15/2013|     53|               6|              5|         0|    3|       11|
|   20201715|          1987|       Graduation|       Married|        17323|   10/10/2012|     38|               1|              3|         0|    3|       11|
|   20201716|          1960|              PhD|  Relationship|        82800|   11/24/2012|     23|               7|             12|         0|    3|       11|
|   20201717|          2000|       Graduation|       Married|        41850|   12/24/2012|     51|               3|              3|         7|    3|       11|
|   20201718|          1970|       Graduation|  Relationship|        37760|    8/31/2012|     20|               4|              6|         0|    3|       11|
|   20201719|          1980|           Master|        Single|        76995|    3/28/2013|     91|              11|              9|         4|    3|       11|
|   20201720|          1998|      High School|       Married|        33812|    11/3/2012|     86|               2|              3|         0|    3|       11|
+-----------+--------------+-----------------+--------------+-------------+-------------+-------+----------------+---------------+----------+-----+---------+

In [22]:
print(type(f2))

<class 'pyspark.sql.dataframe.DataFrame'>

In [23]:
f2.head(10)

[Row(customer_id='20201701', year_of_birth ='1982', educational_level='Graduation', marital_status='Single', annual_income='58138', purhcase_date='9/4/2012', recency='58', online_purchases='8', store_purchases='4', complaints='0', calls='3', intercoms='11'),
 Row(customer_id='20201702', year_of_birth ='1950', educational_level='Graduation', marital_status='Married', annual_income='46344', purhcase_date='3/8/2014', recency='38', online_purchases='1', store_purchases='2', complaints='0', calls='3', intercoms='11'),
 Row(customer_id='20201703', year_of_birth ='1965', educational_level='Graduation', marital_status='Divorced', annual_income='71613', purhcase_date='8/21/2013', recency='26', online_purchases='8', store_purchases='10', complaints='0', calls='3', intercoms='11'),
 Row(customer_id='20201704', year_of_birth ='1984', educational_level='Graduation', marital_status='Relationship', annual_income='26646', purhcase_date='2/10/2014', recency='26', online_purchases='2', store_purchases='4', complaints='0', calls='3', intercoms='11'),
 Row(customer_id='20201705', year_of_birth ='1981', educational_level='PhD', marital_status='Widowed', annual_income='58293', purhcase_date='1/19/2014', recency='94', online_purchases='5', store_purchases='6', complaints='0', calls='3', intercoms='11'),
 Row(customer_id='20201706', year_of_birth ='1967', educational_level='Master', marital_status='Relationship', annual_income='62000', purhcase_date='9/9/2013', recency='16', online_purchases='6', store_purchases='10', complaints='5', calls='3', intercoms='11'),
 Row(customer_id='20201707', year_of_birth ='1971', educational_level='Graduation', marital_status='Divorced', annual_income='55635', purhcase_date='11/13/2012', recency='34', online_purchases='7', store_purchases='7', complaints='0', calls='3', intercoms='11'),
 Row(customer_id='20201708', year_of_birth ='1985', educational_level='PhD', marital_status='Married', annual_income='33454', purhcase_date='5/8/2013', recency='32', online_purchases='4', store_purchases='4', complaints='0', calls='3', intercoms='11'),
 Row(customer_id='20201709', year_of_birth ='1974', educational_level='PhD', marital_status='Widowed', annual_income='30351', purhcase_date='6/6/2013', recency='19', online_purchases='3', store_purchases='2', complaints='3', calls='3', intercoms='11'),
 Row(customer_id='20201710', year_of_birth ='1950', educational_level='PhD', marital_status='Single', annual_income='5648', purhcase_date='3/13/2014', recency='68', online_purchases='1', store_purchases='0', complaints='5', calls='3', intercoms='11')]

In [27]:
f1.createOrReplaceTempView("f2")

In [28]:
spark.sql("select * from f2").show()

+-----------+--------------+-----------------+--------------+-------------+-------------+-------+----------------+---------------+----------+-----+---------+
|customer_id|year_of_birth |educational_level|marital_status|annual_income|purhcase_date|recency|online_purchases|store_purchases|complaints|calls|intercoms|
+-----------+--------------+-----------------+--------------+-------------+-------------+-------+----------------+---------------+----------+-----+---------+
|   20201701|          1982|       Graduation|        Single|        58138|     9/4/2012|     58|               8|              4|         0|    3|       11|
|   20201702|          1950|       Graduation|       Married|        46344|     3/8/2014|     38|               1|              2|         0|    3|       11|
|   20201703|          1965|       Graduation|      Divorced|        71613|    8/21/2013|     26|               8|             10|         0|    3|       11|
|   20201704|          1984|       Graduation|  Relationship|        26646|    2/10/2014|     26|               2|              4|         0|    3|       11|
|   20201705|          1981|              PhD|       Widowed|        58293|    1/19/2014|     94|               5|              6|         0|    3|       11|
|   20201706|          1967|           Master|  Relationship|        62000|     9/9/2013|     16|               6|             10|         5|    3|       11|
|   20201707|          1971|       Graduation|      Divorced|        55635|   11/13/2012|     34|               7|              7|         0|    3|       11|
|   20201708|          1985|              PhD|       Married|        33454|     5/8/2013|     32|               4|              4|         0|    3|       11|
|   20201709|          1974|              PhD|       Widowed|        30351|     6/6/2013|     19|               3|              2|         3|    3|       11|
|   20201710|          1950|              PhD|        Single|         5648|    3/13/2014|     68|               1|              0|         5|    3|       11|
|   20201711|          1983|       Graduation|        Single|         NULL|   11/15/2013|     11|               1|              2|         0|    3|       11|
|   20201712|          1976|            Basic|  Relationship|         7500|   11/13/2012|     59|               2|              3|         6|    3|       11|
|   20201713|          1959|       Graduation|      Divorced|        63033|   11/15/2013|     82|               3|              8|         0|    3|       11|
|   20201714|          1952|           Master|        Single|        59354|   11/15/2013|     53|               6|              5|         0|    3|       11|
|   20201715|          1987|       Graduation|       Married|        17323|   10/10/2012|     38|               1|              3|         0|    3|       11|
|   20201716|          1960|              PhD|  Relationship|        82800|   11/24/2012|     23|               7|             12|         0|    3|       11|
|   20201717|          2000|       Graduation|       Married|        41850|   12/24/2012|     51|               3|              3|         7|    3|       11|
|   20201718|          1970|       Graduation|  Relationship|        37760|    8/31/2012|     20|               4|              6|         0|    3|       11|
|   20201719|          1980|           Master|        Single|        76995|    3/28/2013|     91|              11|              9|         4|    3|       11|
|   20201720|          1998|      High School|       Married|        33812|    11/3/2012|     86|               2|              3|         0|    3|       11|
+-----------+--------------+-----------------+--------------+-------------+-------------+-------+----------------+---------------+----------+-----+---------+

In [29]:
spark.sql("select educational_level from f2").show()

+-----------------+
|educational_level|
+-----------------+
|       Graduation|
|       Graduation|
|       Graduation|
|       Graduation|
|              PhD|
|           Master|
|       Graduation|
|              PhD|
|              PhD|
|              PhD|
|       Graduation|
|            Basic|
|       Graduation|
|           Master|
|       Graduation|
|              PhD|
|       Graduation|
|       Graduation|
|           Master|
|      High School|
+-----------------+

In [30]:
spark.sql("select count(customer_id) from f2").show()

+------------------+
|count(customer_id)|
+------------------+
|               499|
+------------------+

In [31]:
spark.sql("select online_purchases from f2 where annual_income>'50000'").show()

+----------------+
|online_purchases|
+----------------+
|               8|
|               8|
|               5|
|               6|
|               7|
|               1|
|               2|
|               3|
|               6|
|               7|
|              11|
|               2|
|               6|
|               5|
|               6|
|               3|
|               5|
|               8|
|               2|
|               2|
+----------------+

In [32]:
spark.sql("select max(annual_income) from f2").show()

+------------------+
|max(annual_income)|
+------------------+
|              9548|
+------------------+

In [33]:
spark.sql("SELECT educational_level, COUNT(*) AS count FROM f2 GROUP BY educational_level").show()

+-----------------+-----+
|educational_level|count|
+-----------------+-----+
|      High School|   40|
|              PhD|  114|
|           Master|   81|
|       Graduation|  257|
|            Basic|    7|
+-----------------+-----+